<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Tus opciones, <span data-bind="html : userName"></span> </h1>

        <a data-bind="click : mostrarFormulario, visible : !visibleCambioDePwd()">Cambiar contraseña</a>
        <div data-bind="visible : visibleCambioDePwd">
          <input data-bind="value : pwdActual" type="password" placeholder="Contraseña actual"><br>
          <input data-bind="value : pwd1" type="password" placeholder="Nueva contraseña"><br>
          <input data-bind="value : pwd2" type="password" placeholder="Repite Contraseña"><br>
          <button data-bind="click : cambiarPwd">Cambiar contraseña</button>          
        </div>

        <div>
            <!--ko foreach : photos -->
                <img width="150" height="auto" data-bind="attr : { src : $data }"> 
								<br><br>
            <!-- /ko-->
        </div>
      </div>
    </div>
  </div>
</div>